<form name="myForm">
  
  <div class="control-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
    <label>Nombre</label>
    <input type="text" name="name" ng-model="project.name" required>
    <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
        Requerido {{myForm.name.$pristine}}</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
    <label>Website</label>
    <input type="url" name="site" ng-model="project.site" required>
    <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">
        Requerido</span>
    <span ng-show="myForm.site.$error.url" class="help-inline">
        Falta URL</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.encargado.$invalid && !myForm.encargado.$pristine}">
    <label>Encargado</label>
    <input type="text" name="encargado" ng-model="project.encargado" required>
    <span ng-show="myForm.encargado.$error.required && !myForm.encargado.$pristine" class="help-inline">
        Requerido {{myForm.encargado.$pristine}}</span>
  </div>

  <label>Descripcion</label>
  <textarea name="description" ng-model="project.description"></textarea>
 
  <br>
  <a href="#/" class="btn">Cancelar</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid"
          class="btn btn-primary">Guardar</button>
  <button ng-click="destroy()"
          ng-show="project.$remove" class="btn btn-danger">Eliminar</button>
</form>